body{
  background-color:cadetblue;

}
.login_form{
  width:200px;
  height:200px;
  position: fixed;
  background-color:brown;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 10px;
  text-align: center;
  color:cornsilk; 
  font-family: "Courier New", "Lucida Console", monospace;
}

.sidebar {
  height: 100vh;
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 1px solid #3f3f3f;
  height: 100%;
}

.header{
  background-color:cadetblue;
  color:cornsilk; 
  font-family: "Courier New", "Lucida Console", monospace;
}
.nav_link{
  background-color:blueviolet ;
  color:cornsilk;
  font-family: "Courier New", "Lucida Console", monospace;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer{
  height:60px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color:blueviolet ;
  font-family: "Courier New", "Lucida Console", monospace;
}

.conversation_list {
  border-radius: 10px;
  font-family: "Courier New", "Lucida Console", monospace;
  padding: 5px 0 0 5px;
  grid-area: sidebar;
  float: left;
  background-color: #3f3f3f;
  position: fixed;
  width: 150px;
  overflow-y: scroll;
  top: 60px;
  bottom: 63px;
}

.conversation_list input{
  width: 135px;
  text-align: center;
}

.conversation_list h5{
  color:cornsilk;
}

.conversation_list h5:hover{
  background-color: black;
  cursor: pointer
}


.conversation{
  border-radius: 10px;
  float: right;
  min-width: 400px;
  background-color:brown;
  overflow-y: scroll;
  top: 60px;
  bottom: 60px;
  height: 475px;
  margin-left: 175px;
  scroll-snap-type: y proximity;
  
}
.message_form {
  scroll-snap-align: end;
  
}


.convo_link{
  color: aliceblue;
}