.sidebar {
  height: 100vh;
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 1px solid #3f3f3f;
  height: 100%;
}

.header{
  background-color:cadetblue;
  color:cornsilk;
  font-family: "Courier New", "Lucida Console", monospace;
}

.footer{
  height:60px;
  text-align: center;
  width: 900px;
  position: absolute;
  bottom: 0;
  background-color:blueviolet ;
  font-family: "Courier New", "Lucida Console", monospace;
}

.conversation_list {
  border-radius: 10px;
  font-family: "Courier New", "Lucida Console", monospace;
  padding: 5px 0 0 5px;
  grid-area: sidebar;
  float: left;
  background-color: #3f3f3f;
  position: fixed;
  width: 150px;
  overflow-y: scroll;
  top: 60px;
  bottom: 60px;
}

.conversation{
  border-radius: 10px;
  float: right;
  width:400px;
  background-color:brown;
  overflow-y: scroll;
  top: 60px;
  bottom: 60px;
}

.convo_link{
  color: aliceblue;
}